/* vietnamese */
@font-face {
	font-family: 'Saira';
	font-style: normal;
	font-weight: lighter;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.font.im/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCksAxljYm.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Saira';
	font-style: normal;
	font-weight: lighter;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.font.im/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCksExljYm.woff2) format('woff2');
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Saira';
	font-style: normal;
	font-weight: lighter;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.font.im/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCks8xlg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*公共模板*/
#EntryTag {
	margin-top: 20px;
	font-size: 9pt;
	color: gray;
}
.topicListFooter {
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
}
#divRefreshComments{
	text-align: right; 
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 9pt;
}
/*全局样式*/
* {
	margin: 0;
	padding: 0;
	transition: 0.5s;
}
html {
	height: 100%;
	overflow-x: hidden;
}
::selection{
	background-color: #0bcf2540;
}
::-webkit-scrollbar{
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track{
	background-color: white;
}
::-webkit-scrollbar-thumb{
	background-color: #2daebf50;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #3498DB50;
	border-radius: 2px;
}
#cnblogs_post_body table:not(.aaa)::-webkit-scrollbar{
	width: 12px;
	height: 12px;
}
#cnblogs_post_body table:not(.aaa)::-webkit-scrollbar-track{
	background-color: white;
	box-shadow: none;
	border-radius: none;
}
#cnblogs_post_body table:not(.aaa)::-webkit-scrollbar-thumb{
	background-color: #2daebf50;
	border-radius: 4px;
	box-shadow: none;
}
#cnblogs_post_body table:not(.aaa)::-webkit-scrollbar-thumb:hover{
	background-color: #3498DB50;
	border-radius: 2px;
}
body {
	color: #000;
	background: #FFF;
	font-size: 15px;
	min-height: 100%;
	font-family: Saira, 等线;
	background: no-repeat fixed url("https://images.cnblogs.com/cnblogs_com/blogs/766141/galleries/2264367/o_230117095841_BKG.png");
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
thead{
	position: sticky;
	background-color: white;
	color: black;
	top: 0;
	z-index: 2;
}
div.table-wrapper{
	max-height: 85vh;
	max-width: 100%;
	min-width: unset;
	width: fit-content;
}
fieldset, img {
	border: 0;
}
ul {
	word-break: break-all;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font: 100%;
	font-weight: normal;
	text-decoration: none;
}
a{
	transition: 0.5s;
}
a:link {
	color: #3498DB;
	text-decoration: none;
}
a:visited {
	color: #5EB95E;
	text-decoration: none;
}
a:hover {
	color: #FF5252;
	text-decoration: none;
}
a:active {
	color: #E67E22;
	text-decoration: none;
}
.clear {
	clear: both;
}
code{
	font-family: "Consolas";
	background-color: #eee;
	border-radius: 3px;
	padding: 0px 3px 0px 3px;
}
script{
	display: none;
	font-family: 'Consolas';
	background-color: #efefef;
	margin: 2vh 4vh;
	padding: 2vh;
	border-radius: 10px;
	border-left: #3498DB solid 10px;
	box-shadow: #CCC 3px 3px 3px;
}
span.math.inline{
	transition: none;
}
span.math.inline *{
	transition: none;
}
.katex .mathsf, .katex .textsf{
	font-family: 等线 !important;
}
#cnblogs_post_body img{
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: 0.5s;
}
#cnblogs_post_body img:hover{
	border-color: #3498DB;
}
#cnblogs_post_body details{
	background-color: white;
	padding: 5px;
	margin: 5px 0px 5px 0px;
	border-left: 15px solid #3498DB;
	box-shadow: #666;
	box-shadow: 1px 1px 5px #888;
	transition: 0.5s;
}
#cnblogs_post_body details:hover{
	box-shadow: 3px 3px 10px #888;
}
#cnblogs_post_body details>summary{
	padding: 5px;
	cursor: pointer;
}
#cnblogs_post_body details>summary::marker{
	content: none;
}
#cnblogs_post_body pre code {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
}
#cnblogs_post_body code{
	font-family: "Consolas";
	line-height: 1.5;
}
.cnblogs-markdown :not(pre,div)>code,
.blogpost-body:not(.cnblogs-markdown) :not(pre,div,td)>code{
	color: #0092a5;
	background-color: #caf9ff;
	font-size: 18px;
}
.hljs-engine .code-fullscreen-overlay code{
	top: 40px;
	font-size: 18px;
}
#cnblogs_post_body table:not(.hljs-ln) th{
	font-weight: unset;
	background-color: #f5f5f5;
	border: none;
	border-bottom: 1px solid #ccc;
}
#cnblogs_post_body table:not(.hljs-ln,.SysTreeTable) td{
	font-weight: unset;
	border: none;
	border-bottom: 1px solid #ccc;
}
#cnblogs_post_body table.simple td, #cnblogs_post_body table.simple th {
	padding: 0px 2vw 0px 0px;
	border-bottom: none !important;
	overflow: hidden;
}
div.toc{
	position: fixed;
	left: 90vw;
	top: 75vh;
	background-color: #fefefef0;
	z-index: 114;
	padding: 0 0 7vh 0;
	box-shadow: #333 1px 1px 3px;
	height: 10vh;
	width: calc(35vw - 12px);
	overflow-x:hidden;
	overflow-y: scroll;
	border-radius: 5px;
	transition: 1s;
}
div.toc:hover{
	left: 70vw;
	top: 40px;
	height: calc(100vh - 80px);
	border-radius: 0px;
}
div.toc-container-header{
	padding: 2vw;
	width: 100%;
	font-size: 4vh;
	position: sticky;
	top: 0;
	background: linear-gradient(180deg, white 80%, #ffffff00);
	z-index: 115;
	border-radius: 5px;
}
div.toc a{
	color: black;
}
div.toc a:hover{
	color: #3498DB;
}
#cnblogs_post_body div.toc ul{
	margin: 1vh 0 1vh 2vw;
}
#cnblogs_post_body div.toc ul ul{
	transform: none;
}
div.toc li{
	list-style: none !important;
}
#cnblogs_post_body table{
	width: max-content;
}


span#BigDot{
	position: absolute;
	background-color: #70a9cf;
	transform: translate(-50%,-50%);
	pointer-events: none;
	border-radius: 50%;
	animation: RoundAni 0.5s linear;
	z-index: 114514;
}
@keyframes RoundAni {
	0%{
		width: 0px;
		height: 0px;
		opacity: 0.5;
	}
	100%{
		width: 500px;
		height: 500px;
		opacity: 0;
	}
}
span#SmallDot{
	position: absolute;
	background-color: #70a9cf;
	transform: translate(-50%,-50%);
	pointer-events: none;
	border-radius: 50%;
	height: 5px;
	width: 5px;
	animation: DotAni 1s linear infinite;
	z-index: 114514;
}
@keyframes DotAni{
	0%{
		opacity: 1;
		background-color: #70a9cf;
		height: 5px;
		width: 5px;
	}
	100%{
		opacity: 0;
		background-color: #cc0000;
		height: 0px;
		width: 0px;
	}
}
#Cursor{
/**/display: none;
	transition: 0.1s;
	position: absolute;
	border: 1px solid #2daebf;
	transform: translate(-50%,-50%);
	pointer-events: none;
	border-radius: 50%;
	height: 2vh;
	width: 2vh;
	z-index: 114515;
}
#Cursor:hover{
	height: 2vh;
	width: 2vh;
	border-color: #f2ff00;
	box-shadow: #f2ff00 0px 0px 4px,
				#f2ff00 0px 0px 6px,
				#f2ff00 0px 0px 8px,
				#f2ff00 0px 0px 10px;
}

/*各部分样式*/
/*home和头部开始*/
#home {
	margin: 0 auto;
	min-width: 300px;
}
#header {
	padding-bottom: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	background: no-repeat url("https://images.cnblogs.com/cnblogs_com/blogs/766141/galleries/2264367/o_230209132521_th.jpg");
	background-position-x: center;
	background-size: 100%;
}
#blogTitle {
	height: 60vh;
	width: 100%;
	clear: both;
	text-align: center;
	order: 2;
}
#blogTitle h1 {
	font-size: 8vh;
	text-shadow: #2daebf 0px 0px 10px,
				 #2daebf 0px 0px 20px,
				 #2daebf 0px 0px 30px,
				 #2daebf 0px 0px 40px;
	font-weight: none;
	margin-top: 40vh;
}
#blogTitle h1:hover{
	text-shadow: #f2ff00 0px 0px 10px,
				 #f2ff00 0px 0px 20px,
				 #f2ff00 0px 0px 30px,
				 #f2ff00 0px 0px 40px;
}
a.headermaintitle{
	color: white;
}
#blogTitle h2 {
	font-size: 16px;
	color: white;
}
#blogLogo {
	float: right;
}
#navigator {
	height: 40px;
	clear: both;
	margin: unset;
	position: fixed;
	width: 100%;
	background-color: white;
	box-shadow: 1px 1px 5px #888;
	overflow-y: hidden;
	z-index: 11451;
	order: 1;
}
#navList {
	min-height: 40px;
	float: left;
}
#navList li {
	float: left;
	width: 8vw;
	min-width: 60px;
	height: 40px;
}
#navList a {
	display: block !important;
	height: 40px;
	line-height: 40px;
	transition: 0.5s;
	font-size: 15px !important;
}
#navList a:link, #navList a:visited, #navList a:active {
	color: #3498DB;
}
#navList a:hover {
	color: white;
	background-color: #3498DB;
	text-decoration: none;
}
#lnkBlogLogo{
	display: block;
}
.blogStats {
	float: right;
	color: #888;
	line-height: 40px;
	margin-right: 10px;
	text-align: right;
}
/*主页文章列表*/
#main{
	width: 100%;
	min-width: 250px;
	text-align: left;
}
#mainContent .forFlow{
	float: none; 
	width: 100%;
	padding-right: 10px;
}
#mainContent {
	min-height: 200px;
	padding-top: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	margin: auto;
	align-self: center;
	width: 100%;
}
.day {
	margin-bottom: 20px;
	padding: 15px;
	margin: 10px;
	font: 15px;
	background-color: white;
	box-shadow: 1px 1px 2px #888;
	transition: 0.5s;
}
.day:hover {
	box-shadow: 5px 5px 15px #888;
}
.dayTitle {
	width: 100%;
	color: #666;
	line-height: 1.5em;
	font-size: 110%;
	margin-top: 3px;
	margin-bottom: 10px;
	clear:both;
	border-bottom: 2px solid #ccc;
	text-align:left;
}
.postTitle {
	font-size: 110%;
	width: 100%;
	clear: both;
	float: left;
	width: 100%;
	padding-left: 5px;
}
.postTitle a:link, .postTitle a:visited, .postTitle a:active {
	color: black;
	font-size: 5vh;
}
.postTitle a:hover {
	color: #3498DB;
	text-decoration: none;
}
.postTitle span{
	font-size: 8vh;
}
.postCon {
	float: right;
	line-height: 1.5em;
	width: 100%;
	clear:both;
	padding: 10px 0;
}
.postDesc {
	float: right;
	width: 100%;
	clear: both;
	text-align: right;
	padding-right: 5px;
	color: #666;
	margin-top: 5px;
}
.postDesc a:link, .postDesc a:visited, .postDesc a:active {
	color: #3498DB;
}
.postDesc a:hover {
	color: #5EB95E;
	text-decoration: none;
}
.postSeparator {
	clear: both;
	height: 1px;
	border-top: 1px solid #ccc;
	width: 100%;
	clear:both;
	float: right;
	margin: 0 auto 15px auto;
}
.c_b_p_desc_readmore{
	text-decoration: none;
	-webkit-text-fill-color: white;
	float: right;
	border-radius: 25px;
	background-color: #3498DB;
	text-align: center;
	padding: 5px 8px;
	transition: 0.5s;
}
.c_b_p_desc_readmore:hover{
	border-radius: 5px;
}
/*侧边栏*/
#sideBar {
	display: none;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}
.newsItem .catListTitle {
	display: none;
}
.newsItem {
	padding: 5px;
	margin: 8px 8px 8px 8px;
	background-color: white;
	box-shadow: 1px 1px 2px #888;
	transition: 1s;
	width: 80%;
}
.newsItem:hover{
	box-shadow: 2px 2px 5px #888;
}
/*日历控件*/
#calendar {
	width: 90%;
	padding: 5px;
}
#calendar tr,#calendar td{
	border: 1px solid #ccc;
}
#calendar .Cal {
	width: 100%;
	line-height: 1.5em;
}
.Cal {/**日历容器table**/
	color: #666;
}
#calendar table a:link, #calendar table a:visited, #calendar table a:active {
	font-weight: bold;
}
#calendar table a:hover {
	-webkit-text-fill-color: white;
	text-decoration: none;
	background-color: #3498DB;
}
.CalTodayDay{/*今天日期样式*/
	color:#3498DB;
	text-decoration: none;
}
#calendar .CalNextPrev a:link,#calendar .CalNextPrev a:visited, #calendar .CalNextPrev a:active {/**上个月、下个月箭头样式**/
	font-weight: bold;
}
.CalDayHeader{
	border-bottom:1px solid #ccc;	
}
.CalTitle{/*日历年月头部样式*/
	width:100%;
	color:black;
}
.catListTitle {
	font-weight: none;
	line-height: 1.5em;
	font-size: 110%;
	margin-top: 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
	text-align: center;
}
.catListComment {
	line-height: 1.5em;
}
.divRecentComment {
	text-indent: 2em;
	color: #666;
}
#sideBarMain ul {
	line-height: 1.5em;
}
/*查看文章页面*/
#topics {
	width: 90%;
	margin: auto;
	margin-top: 10px;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 5px #888;
	transition: 1s;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}
#topics:hover{
	box-shadow: 5px 5px 20px #888;
}
#cnblogs_post_body h1,#cnblogs_post_body h2,
#cnblogs_post_body h3,#cnblogs_post_body h4,
#cnblogs_post_body h5,#cnblogs_post_body h6{
	font-weight: unset;
}
div#author_profile,div#post_next_prev{
	display: none;
}
div#blog_post_info{
	width: 100%;
}
div#green_channel {
	display: flex;
	justify-content: center;
	float: left;
	width: 100%;
	border: unset;
	margin: unset;
}
#green_channel a:not(.aaa),#green_channel span{
	display: inline-block;
	width: 15vw;
	height: 30px;
	line-height: 30px;
	font-size: medium;
	margin: 0px 1% 0px 1%;
	border: 3px solid !important;
	padding: 0px 5px;
	background-image: unset;
	font-weight: normal;
	border-radius: unset;
	box-shadow: 0 1px 3px #00000080;
}
#green_channel span{
	color: white !important;
}
#green_channel #green_channel_digg,#green_channel span{
	background-color: #2daebf;
	border-color: #2daebf !important;
}
#green_channel #green_channel_follow{
	background-color: #ff5911;
	border-color: #ff5911 !important;
}
#green_channel #green_channel_favorite{
	background-color: #ffb515;
	border-color: #ffb515 !important;
}
#green_channel #green_channel_wechat{
	background-color: #3cb034;
	border-color: #3cb034 !important;
}
#green_channel a:hover,#green_channel span:hover{
	background-color: white !important;
	color: black !important;
	text-shadow: none !important;
}
.diggit,.buryit{
	background-image: none;
	margin: unset;
	padding: unset;
	overflow: hidden;
	height: 6vh;
	width: 15vw;
}
.diggit{
	float: left;
	border-radius: 5px 0px 0px 5px;
	background-image: linear-gradient(60deg, #88ffe2 20%, #fd78ff 80%);
}
.buryit{
	float: right;
	border-radius: 0px 5px 5px 0px;
	background-color: #afafaf;
}
#div_digg{
	width: 100%;
	height: 30px;
	border: unset;
	display: flex;
	justify-content: center;
}
#div_digg #digg_count, #div_digg #bury_count{
	text-shadow: 2px #888;
	font-family: Saira;
	font-size: 20px;
	color: white;
	height: 100%;
	width: 80%;
	display: block;
	margin: unset;
	padding: 0 10%;
	text-align: center;
	transition: 0.5s;
	line-height: 35px !important;
}
#div_digg #digg_count:hover{
	scale: 1.5;
}
.diggword{
	color: rgb(253, 117, 83) !important;
	position: absolute;
	translate: 0px 5vh;
}
.diggword:hover{
	right: 0vw;
}
.postBody {
	padding: 5px 2px 5px 5px;
	line-height: 22px;
	color: #000;
}
.cnblogs-toc-button active{
	transition: 0.5s;
}
#MySignature p{
	font-size: 3vh;
}
#EntryTag {
	color: #666;
}
#EntryTag a {
	margin-left: 5px;
}
#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active {
	color: #666;
}
#EntryTag a:hover {
	color: #3498DB;
}
#topics .postDesc {
	float: right;
	width: 100%;
	text-align: right;
	padding-right: 5px;
	color: #666;
	margin-top: 5px;
}

/*Comments*/
#divCommentShow{
	box-shadow: 1px 1px 5px #888;
	transition: 1s;
}
#divCommentShow:hover{
	box-shadow: 5px 5px 20px #888;
}
#blog-comments-placeholder{
	width: 90%;
	margin: auto;
	margin-top: 10px;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 5px #888;
	transition: 1s;
}
#blog-comments-placeholder:hover{
	box-shadow: 5px 5px 20px #888;
}
#comment_nav{
	margin: auto;
	width: 90%;
	height: 50px;
}
#comment_nav a{
	margin: 15px 5px 15px 5px;
	color: white;
	float: right;
	line-height: 100%;
	border-radius: 25px;
	background-color: #3498DB;
	text-align: center;
	padding: 5px;
	transition: 0.5s;
}
#comment_nav a:hover{
	border-radius: 5px;
}
#comment_form{
	margin: unset;
}
#comment_form_container{
	width: 90%;
	margin: auto;
	margin-bottom: 2vh;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 5px #888;
	transition: 1s;
}
#comment_form_container:hover{
	box-shadow: 5px 5px 20px #888;
}
.comment_textarea{
	width: 98%;
	margin: auto;
}
#commentbox_op{
	width: 90%;
	margin: 90%;
}
#btn_comment_submit{
	float: right;
	border: unset;
	color: white;
	line-height: 100%;
	border-radius: 25px;
	background-color: #3498DB;
	text-align: center;
	padding: 5px;
	transition: 0.5s;
}
#btn_comment_submit:hover{
	border-radius: 5px;
}
.under-post-card{
	display: none;
}
#commentbox_opt a{
	display: none;
}
#commentform_title{
	font-size: 20px;
	padding: unset;
	background-image: unset;
}
.feedback_area_title {
	font-size: 20px;
	margin-bottom: 10px;
	padding-left: 8px;
}
a.layer{
	background-color: #83da6d;
	color: white;
	padding: 3px 1vh;
	border-radius: 3px;
}
.louzhu {
	background-color: #3498DB;
	color: white;
	padding: 3px 1vh;
	border-radius: 3px;
}
.comment_date{
	color: black;
}

/*Special User*/
@keyframes PCwqyy{
	0%{color: #2daebf;}
	25%{color: #3cb034;}
	50%{color: #e6df22;}
	75%{color: #cc0000;}
	100%{color: #2daebf;}
}
@keyframes haozexu{
	0%{transform:rotate(0deg);}
	50%{transform:rotate(1145.14deg);}
	100%{transform:rotate(0deg);}
}

.feedbackListSubtitle {
	color: #00000000;
}
.feedbackListSubtitle a:link, .feedbackListSubtitle a:visited, .feedbackListSubtitle a:active {
	font-weight: normal;
}
.feedbackListSubtitle a:hover {
	color: #3498DB;
	text-decoration: none;
}
.feedbackManage {
	width: 200px;
	text-align: right;
	float: right;
}
.feedbackCon {
	border-bottom: 1px solid #ccc;
	background: url('images/comment.gif') no-repeat 5px 0px;
	padding: 15px 18px 10px 40px;
	min-height: 35px;
	margin-bottom: 1em;
	line-height: 1.5em;
}
#divRefreshComments {
	text-align: right;
	margin-bottom: 10px;
}
.commenttb {
	width: 320px;
}
#divCommentShow{
	width: 90%;
	margin: auto;
	margin-top: 10px;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 5px #888;
	transition: 1s;
}
#divCommentShow:hover{
	box-shadow: 5px 5px 20px #888;
}
.comment_my_posted{
	margin: 2vh 0px;
}
.bq_post_comment{
	border: unset;
}


/*列表页面*/
.entrylistTitle,.PostListTitle,.thumbTitle{/**几个分类列表的标题样式**/
	font-size: 110%;
	font-weight: bold;
	border-bottom: 1px solid black;
	text-align: right;
	padding-bottom: 3px;
	padding-right: 10px;
}
.entrylistDescription {
	color: #666;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.entrylistItem {
	min-height: 20px;
	_height: 20px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	width: 100%;
}
.entrylistPosttitle {
	font-size: 110%;
	font-weight: bold;
	border-bottom: 1px solid #666;
	line-height: 1.5em;
	width: 100%;
	padding-left: 5px;
}
.entrylistPosttitle a:hover {
	text-decoration: none;
}
.entrylistPostSummary {
	margin-top: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
}
.entrylistItemPostDesc {
	text-align: right;
	color: #666;
}
.entrylistItemPostDesc a:link,
.entrylistItemPostDesc a:visited,
.entrylistItemPostDesc a:active {
	color: #666;
}
.entrylistItemPostDesc a:hover {
	color: #3498DB;
}
.entrylist .postSeparator {
	clear: both;
	width: 100%;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	height: 0;
	border: none;
}
#nav_next_page{
	margin: 3vh;
}
.pager a,#nav_next_page a{
	text-align: right;
	background-color: #3498DB;
	border: 2px solid #3498DB;
	color: white;
	border-radius: 5px;
	padding: 5px;
}
.pager a:hover,#nav_next_page a:hover{
	background-color: white;
	color: #3498DB;
}
.PostList {
	border-bottom: 1px solid #ccc;
	clear: both;
	min-height: 1.5em;
	_height: 1.5em;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
}
.postTitl2 {
	float: left;
}
.postDesc2 {
	color: #666;
	float: right;
}
.postText2 {
	clear: both;
	color: #666;
}
.pfl_feedback_area_title {
	text-align: right;
	line-height: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
}
.pfl_feedbackItem {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}
.pfl_feedbacksubtitle {
	width: 100%;
	border-bottom: 1px dotted #666;
	height: 1.5em;
}
.pfl_feedbackname {
	float: left;
}
.pfl_feedbackManage {
	float: right;
}
.pfl_feedbackCon {
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pfl_feedbackAnswer {
	color: #F40;
	text-indent: 2em;
}
.tdSentMessage {
	text-align: right;
}
.errorMessage {
	width: 300px;
	float: left;
}
.mySearch #q {
	height: 1.4em;
	width: 90%;
}
/*相册页面*/
.divPhoto {
	border: 1px solid #ccc;
	padding: 2px;
	margin-right: 10px;
}

.thumbDescription {
	color: #666;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}
/*留言页面*/
#footer {
	background-color: white;
	border-top: 1px solid #ccc;
	text-align: center;
	position: fixed;
	padding: 2px;
	height: auto;
	width: 100%;
	left: 0px;
	bottom: -22px;
	transition: 0.5s;
	z-index: 100;
}
#footer:hover{
	bottom: 0px;
}
#footer br{
	display: none;
}
#footer span{
	margin-left: 20px;
}
.personInfo {
	margin-bottom: 20px;
}
.pages {
	text-align: right;
}
/*正文样式*/
#cnblogs_post_body{
	font-size: 18px;
}
#cnblogs_post_body h1{
	font: 7vh "Saira";
	margin-top: 7vh;
}
#cnblogs_post_body h2{
	font: 6vh "Saira";
	margin-top: 5vh;
}
#cnblogs_post_body h3{
	font: 5vh "Saira";
	margin-top: 4vh;
}
#cnblogs_post_body h4{
	font: 4.5vh "Saira";
}
#cnblogs_post_body h5{
	font: 4vh "Saira";
	padding-left: 1vw;
}
#cnblogs_post_body h6{
	font: 3.5vh "Saira";
	color: #888;
	padding-left: 2vw;
}
.postBody blockquote{
	padding: 10px 30px 5px 60px;
	font-family: "宋体";
	font-style: italic;
	color: #666;
}
#cnblogs_post_body ul{
	margin: 10px 0px 10px 40px;
}
#cnblogs_post_body ol{
	margin: 10px 0px 10px 0px;
}
#cnblogs_post_body ul.contains-task-list{
	margin: 10px 0px 15px 15px !important;
}
#cnblogs_post_body
	ul.contains-task-list
		li.task-list-item{
	margin-bottom: 5px;
}
.contains-task-list
	li.task-list-item
		input.task-list-item-checkbox{
	position: absolute;
	clip: rect(0,0,0,0);
	margin: unset;
}
.contains-task-list
	li.task-list-item
		input.task-list-item-checkbox:checked+label::before{
	content: '\2713';
	background-color: #5EB95E;
	border-color: #5EB95E;
	color: white;
}
.contains-task-list
	li.task-list-item
		label::before{
	content: '\a0';
	display: inline-block;
	border: 1px solid silver;
	border-radius: 5px;
	text-align: center;
	width: 20px;
	height: 20px;
	font-weight: bold;
}

div.charm-bar-wrapper{
	opacity: 0;
}



/* NeoTable */

.YesTable{
	background-color: #c6f7b1;
	color:#34922e;
}
.HalfTable{
	background-color: #fffeb3;
	color:#deaf2d;
}
.NoTable{
	background-color: #ff9494;
	color:#b52020;
}
.StickLeft{
	position: sticky;
	left: 0;
	background-color: white;
	z-index: 1;
}
img.ImgNeo{
	width: 4vmin;
	height: auto;
	border: unset !important;
}

/*SysTree*/
html{
	--systree-col: dodgerblue;
	--systree-solid: 2px;
	--systree-horizontal: 6px;
}
#cnblogs_post_body p.SysTreeWrapper{
	margin: 6vh 0;
}
#cnblogs_post_body .SysTreeWrapper table.SysTreeTable{
	display: table;
	height: 100%;
	margin: unset;
	padding: unset;
	border: unset;
	border-collapse: collapse;
	max-height: unset;
	pointer-events: none;
}
.SysTreeWrapper td.SysTree{
	margin: unset;
	border: unset;
	border-spacing: 0px;
	padding: 0px var(--systree-horizontal);
	min-width: unset;
	pointer-events: none;
}
.SysTreeWrapper td.SysTreeLeaf{
	margin-left: var(--systree-horizontal);
}
.SysTreeWrapper td.SysTree.LineU{
	border-top: var(--systree-col) var(--systree-solid) solid;
	border-left: var(--systree-col) var(--systree-solid) solid;
}
.SysTreeWrapper td.SysTree.LineD{
	border-bottom: var(--systree-col) var(--systree-solid) solid;
	border-left: var(--systree-col) var(--systree-solid) solid;
}
.SysTreeWrapper td.SysTree.LineH{
	border-bottom: var(--systree-col) var(--systree-solid) solid;
}
.SysTreeWrapper td.SysTree.P{
	vertical-align: bottom;
}
.SysTreeWrapper td.SysTree.C1,
.SysTreeWrapper td.SysTree.C2{
	padding-left: 0px;
}
.SysTreeWrapper span.SysTreeText{
	pointer-events: all;
	font-size: 22px;
}